/*Estilos Gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;

body{
    background-color:#0e0e0e;
    height: 100%;
}

.interface{
    margin:0 auto;
    background-color: black;
}


/*Estilos Headers*/

header{
    position: fixed;
    width: 100%;
}

header > .interface /*Sinal de > para pegar todas classe dentro da header*/ { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 5%;
    margin-left: 20px;    
     }
  
  img {
    width: 100%;
  }

header a {
    color:#c20000;
    text-decoration: none;
    display: inline-block; 
    transition: .2s;
}

header nav ul li{
    display: inline-block;
    padding: 40px;
}

.btn_CV{
    margin-right: 30px;
}

header .btn_CV button{
    padding: 10px 35px;
    font-size: 15px;
    font-weight: 500;
    background-color:#c20000;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    
}

header a:hover{
    color: #ff0000;
    transform: scale(1.1);
}

header .btn_CV button:hover{
    box-shadow: 0px opx 2px  #ff0202;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home_img{
    border-radius: 60%;
    max-width: 250px;
    max-height: 270px;
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 25px #c20000;
    cursor: pointer;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

main h1 {
    color: beige;
}