/*--------------------Estilos Gerais----------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    --vermelho_padrao-- :#c20000;
    --vermelho_brilhante--: #ff0202;
    --cor_fonte--: #dfdddd;
    --backgraund_claro--: #1010106f;
}

body{
    background-color:#0a0a0a;
    height: 100%;
}


/*---------------------Estilos Headers(cabeçalho)------------------*/


.interface{
    margin:0 auto;
    background-color: black;
}

header{
    position: fixed;
    width: 100%;
}

header > .interface /*Sinal de > para pegar todas classe dentro da header*/ { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 5%;
    margin-left: 20px;    
     }
  
  img {
    width: 100%;
  }

header a {
    color:var(--vermelho_padrao--);
    text-decoration: none;
    display: inline-block; 
    transition: .2s;
    font-weight: bold;
    font-size: 1.1rem;
}

header nav ul li{
    display: inline-block;
    padding: 38px;
}

.btn_CV{
    margin-right: 30px;
}

header .btn_CV button{
    padding: 10px 35px;
    font-size: 15px;
    font-weight: 500;
    background-color:var(--vermelho_padrao--);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    
}

header a:hover{
    color: var(--vermelho_brilhante--);
    transform: scale(1.1);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}


/*---------------------Section home------------------*/


.home_img{  
    border-radius: 80%;
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    animation:sombra 2s linear ;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes sombra {
    from{
        box-shadow: 0 0 20px var(--vermelho_padrao--);
    }
    to{
        box-shadow: 0 0 50px var(--vermelho_brilhante--) ;
    }
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.pagina_home {
    color: var(--cor_fonte--);
    justify-content: center;
    text-align: center;
    margin: 30px;
}

.pagina_home h1{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
}


span{
    color: var(--vermelho_brilhante--);
    text-shadow: 0 0 50px;
    font-weight: bold;
}

.social_midia a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 3px;
    
}


/*---------------------section sobreM------------------*/

.sobreM{
    background-color:var(--backgraund_claro--);
}

.sobreM h1{
    display: flex;
    justify-content:center;
    align-items: center;
    color: var(--vermelho_brilhante--);
    text-shadow: 0 0 50px;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.sobreM h2{
    display: flex;
    justify-content:center;
    align-items: center;
    color: var(--vermelho_brilhante--);
    margin-bottom: 2rem;
}

.sobreM p{
    display: flex;
    justify-content:baseline;
    align-items: center;
    color: var(--cor_fonte--);
    margin-bottom: 1rem;
}


/*---------------------section ferramentas------------------*/


.ferramentas h1{
    display: flex;
    justify-content:center;
    align-items: center;
    color: var(--vermelho_brilhante--);
    text-shadow: 0 0 50px;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.ferramentas-container{
display: grid;
grid-template-columns: repeat(3,1fr);
align-items: center;
gap: 2rem;
}

.ferramentas-box{
    background-color: var(--backgraund_claro--);
    height: 250px;
    border-radius: 3rem;
    cursor: pointer;
}

.ferramentas a{
    gap: 1rem;
}