/*Estilos Gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;

body{
    background-color:#0e0e0e;
    height: 100%;
}

.interface{
    margin:0 auto;
    background-color: black;
}


/*Estilos Headers*/

header{
    position: fixed;
    width: 100%;
}

header > .interface /*Sinal de > para pegar todas classe dentro da header*/ { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 5%;
    margin-left: 20px;    
     }
  
  img {
    width: 100%;
  }

header a {
    color:#c20000;
    text-decoration: none;
    display: inline-block; 
    transition: .2s;
}

header nav ul li{
    display: inline-block;
    padding: 40px;
}

.btn_CV{
    margin-right: 30px;
}

header .btn_CV button{
    padding: 10px 35px;
    font-size: 15px;
    font-weight: 500;
    background-color:#c20000;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    
}

header a:hover{
    color: #ff0000;
    transform: scale(1.1);
}

header .btn_CV button:hover{
    box-shadow: 0px opx 2px  #ff0202;
}
